@use '@styles' as s;

.card {

  @include s.flex-col(10px);

  width: 100%;
  max-width: 300px;
  padding: 20px;
  overflow: hidden;
  background-color: s.$color-contrast;
  border: 1px solid s.$color-border;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
