.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px black solid;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
    background-color: beige;
    transition: background-color 0.3s linear;
  }
}
