@use '@styles' as s;

.input {
  padding: 20px;
  border: 1px solid s.$color-border;
  border-radius: 20px;

  &::placeholder {
    color: s.$color-border;
  }

  &:focus{
    border-color: s.$color-bg-btn;

    @include s.transition(border-color);
  }
}

.checkbox {
@include s.flexRow($align:center);

  input[type="checkbox"] {

    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: s.$color-bg-btn;
    border-color: s.$color-bg-btn;
  }

  input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    color: s.$color-contrast;
    font-size: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
