$max-xs: 479.9px;
$min-xs: 480px;
$max-s: 575.9px;
$min-s: 576px;
$max-sm: 767.9px;
$min-sm: 768px;
$max-md: 991.9px;
$min-md: 992px;
$max-lg: 1023.9px;
$min-lg: 1024px;
$max-xl: 1279.9px;
$min-xl: 1280px;
